.row-fluid.fixed-top.banner
  = image_tag "logo.png", height: 30

.row.bar.bar-top#product_section
  = render :partial => "product_section"
.row.title.text-right
  %span
    .head_icon
    = link_to "不知道喝那种水?", ""
.row.bar#address_section
  = render :partial => "address_section"
.row.title.text-right
  %span
    .head_icon
    下单后27分钟棒棒达

.row.footer#place_order_section
  = render :partial => "place_order_section"

#overlay
  #product_overlay_container
    %ul.list-group.product-list-group
      - @lb_products.each do |p|
        %li.list-group-item{"data-product-id" => p.id}
          .product_icon
            = image_tag(p.icon.try(:thumb).try(:url) || "http://placehold.it/50x50")
          .product_name
            = p.name
          .product_detail
            .product_price.text-right
              %span
                = p.price
              元/
              = p.container_type
            .product_desc
              = p.desc
          .clearfix

  #personal_info_form_container
    = form_tag 'wechat/change_address', :method => :patch, :remote => true do
      %ul.list-group.product-list-group
        %li
          .input_container
            = text_field_tag :phone, current_user.phone, :placeholder => "请输入手机号码"
        %li
          .input_container
            = text_field_tag :address, current_user.address, :placeholder => "请输详细地址"
        %li
          .notice
            备注：爱喝水目前仅开通海淀知春路周边配送，其他区域请勿下单
        %li.text-center
          = submit_tag "确认"

