%p#notice= notice
%h1 Listing Orders
%table
  %thead
    %tr
      %th Total price
      %th Order status
      %th Ship status
      %th Payment status
      %th{:colspan => "3"}
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.total_price
        %td= order.order_status
        %td= order.ship_status
        %td= order.payment_status
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Order', new_order_path
