:javascript
  var province = '#{O2oSetting.province}';
  var city = '#{O2oSetting.city}';

= javascript_include_tag "http://webapi.amap.com/maps?v=1.3&key=#{Setting.amap_key}"
= javascript_include_tag "branches"

.branches.index_page
  .container
    .row.xcm_index_header
      .btn-group{:role => "group"}
        %a.btn.btn-default{:role => "button", :href => admin_branches_path }= fa_icon(:list)
        %a.btn.btn-default{:role => "button"}= fa_icon("arrows")

    .row
      #map_container.col-md-9
      %ul.list-group.xcm-list-group.col-md-3
        - @branches.each do |b|
          %li.list-group-item.active
            .xcm_item_name_and_desc
              .xcm_item_name
                = b.name
                (
                = b.contact
                )
              .xcm_item_desc
            .clearfix

