.products.index_page
  .container
    .row.xcm_index_header
      %a{:role => "button", :class => "btn btn-success pull-right popup", "data-remote-url" => new_admin_product_path }= fa_icon("fw plus") + "新建商品"
    .row
      %ul.list-group.xcm-list-group
        - @products.each do |p|
          %li.list-group-item
            .xcm_item_icon
              = image_tag p.pic1.thumb.url || "http://placehold.it/50x50"
            .xcm_item_name_and_desc
              .xcm_item_name
                = p.name
              .xcm_item_desc
                = p.name

            .xcm_actions.pull-right
              %a{:role => "button", :class => "btn btn-default popup", "data-remote-url" => edit_admin_product_path(p) }= "修改产品"

            .clearfix

      = paginate @products



